
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             file:///path/to/your/web-app_3_1.xsd"
         version="3.1">

  <servlet>
    <servlet-name>expenseTrackerServlet</servlet-name>
    <servlet-class>com.expensestracker.ExpenseTrackerServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>expenseTrackerServlet</servlet-name>
    <url-pattern>/trackExpenses</url-pattern>
  </servlet-mapping>
</web-app>
